.status {
    height: 4vh;
    width: 0%;
    background-color: black;
    transition: .6s linear;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    height: 500vh;
    background-image: linear-gradient(45deg, red 0%, green 100%);
}
